// body {
//     @for $i from 10 through 14 {
//         .fs#{$i} {
//             font-size: #{$i}px;
//         }
//     }
// }

$i: 10;

body {
    @while $i <= 14 {
        .fs#{$i} {
            font-size: #{$i}px;
        }
        $i: $i + 1;
    }
}

// @for $i from 10 to 14 {
//     .fs#{$i} {
//         font-size: #{$i}px;
//     }
// }