$maxWidth: 1000px;
$columns: 3;

@function calcWidth($width, $count) {
    $padding: 10;
    $columnWidth: ($width - ($padding * ($count - 1))) / $count;
    @return $columnWidth;
}

body {
    .box {
        width: calcWidth($maxWidth, $columns);
        height: 100px;
        background: pink;
        display: inline-block;
    }
}