@mixin circle($radius: 50px) {
    border-radius: $radius;
}


body {
    .box {
        width: 100px;
        height: 100px;
        background: pink;
        display: inline-block;
        @include circle(10px);
    }
}